$primary-color: #D1A980;
$secondary-color: #363F30;
$primary-hightlight-color: #E9CFB5;
$dark: #0A0A09;
$black: #000;
$title-font: 'Trirong', serif;
$body-font: 'Jost', sans-serif;
$font-awesome: FontAwesome;
$white: #fff;
$smDown: "575.98px";
$mdDown: "797.98px";
$lgDown: "991.98px";
$xlDown: "1199.98px";
$xxlDown: "1399.98px";
$smUp: "576px";
$mdUp: "768px";
$lgUp: "992px";
$xlUp: "1200px";
$xxlUp: "1400px";