@import "variables";

// ==========> Typography <========== \\

//=====> Base <=====\\

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $title-font;
}

body {
	font-family: $body-font;
	color: $secondary-color;
	line-height: 1.5;
}

p {
	line-height: 1.5;
}

//=====> Section Title <=====\\

@mixin section-title($fontFamily, $fontSize, $fontColor, $fontWeight) {
	@if $fontFamily {
		font-family: $fontFamily;
	}

	@if $fontSize {
		font-size: $fontSize;
	}

	@if $fontColor {
		color: $fontColor;
	}

	@if $fontWeight {
		font-weight: $fontWeight;
	}
}

.title {
	@include section-title($title-font,
		46px,
		$primary-color,
		600);
	line-height: 1;
}

.subtitle {
	@include section-title($body-font,
		40px,
		$primary-color,
		400);
	line-height: 1;
}

.section-title {
	@include margin(null, null, 15px, null);
}

.text-white {
	color: $white !important;
}

.body-font {
	font-family: $body-font;
}

.title-font {
	font-family: $title-font;
}

.text-primary {
	color: $primary-color !important;
}

.text-secondary {
	color: $secondary-color !important;
}

.text-black {
	color: $black !important;
}